<div class="container-fluid home">
  <div class="container pt-5">
    <div class="d-flex flex-row-reverse">
      <button mat-raised-button (click)="opensignup()">SIGNUP</button>
      <button mat-raised-button class="mx-5" (click)="openlogin()">
        LOGIN
      </button>
    </div>
    <div class="container-fluid login" *ngIf="this.isclicked">
      <mat-card class="cardit">
        <div class="container">
          <h2 class="head">ADMIN LOGIN</h2>
          <form [formGroup]="LoginForm" (ngSubmit)="loginuser(LoginForm)">
            <div>
              <mat-form-field class="fields my-3">
                <mat-label>Enter your email</mat-label>
                <input
                  matInput
                  placeholder="pat@example.com"
                  formControlName="email"
                  required
                />
              </mat-form-field>
              <mat-error
                class=""
                *ngIf="
                  LoginForm.get('email').invalid &&
                  (LoginForm.get('email').dirty ||
                    LoginForm.get('email').touched)
                "
              >
                <div
                  class=""
                  *ngIf="LoginForm.get('email').hasError('required')"
                >
                  This field is required*
                </div>
                <div
                  class=""
                  *ngIf="LoginForm.get('email').hasError('pattern')"
                >
                  Invalid email format*
                </div>
              </mat-error>
            </div>
            <div>
              <mat-form-field class="fields my-3">
                <mat-label>Enter your password</mat-label>
                <input
                  matInput
                  formControlName="password"
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
              <mat-error
                class=""
                *ngIf="
                  LoginForm.get('password').invalid &&
                  (LoginForm.get('password').dirty ||
                    LoginForm.get('password').touched)
                "
              >
                <div
                  class=""
                  *ngIf="LoginForm.get('password').hasError('required')"
                >
                  This field is required*
                </div>
              </mat-error>
            </div>

            <mat-error *ngIf="this.iserr">
              <div class="container my-1">{{ this.errmessage }}*</div>
            </mat-error>
            <mat-error *ngIf="!LoginForm.valid && this.isvalid">
              <div class="container my-1">Fields are not filled*</div>
            </mat-error>

            <div class="d-flex justify-content-end mt-4">
              <button mat-raised-button type="submit" class="login-button">
                Log In
              </button>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
