<div class="container-fluid whole">
  <div class="container pt-3">
    <div class="container-fluid">
      <mat-toolbar class="topnav">
        <span> <div class="heading">ENTER DETALS</div></span>
      </mat-toolbar>
    </div>
    <div class="container forms">
      <div class="container forms_container mx-auto">
        <form [formGroup]="addGroup" (ngSubmit)="onSubmit(addGroup)">
          <div class="container aframe">
            <div class="row mt-3 bframe">
              <h2 class="mt-5 mx-4">PERSONAL & PROFESSIONAL DETAILS</h2>
              <hr />
              <div class="container mt-3 px-5">
                <div class="row">
                  <div class="col-4">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>First Name</mat-label>
                      <input matInput formControlName="fname" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('fname').invalid &&
                        addGroup.get('fname').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('fname').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('fname').hasError('pattern')"
                      >
                        Accepts Only Alphabets*
                      </div>
                    </mat-error>
                  </div>
                  <div class="col-4">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Middle Name</mat-label>
                      <input matInput formControlName="mname" />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('mname').invalid &&
                        addGroup.get('mname').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('mname').hasError('pattern')"
                      >
                        Accepts Only Alphabets*
                      </div>
                    </mat-error>
                  </div>
                  <div class="col-4">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Last Name</mat-label>
                      <input matInput formControlName="lname" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('lname').invalid &&
                        addGroup.get('lname').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('lname').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('lname').hasError('pattern')"
                      >
                        Accepts Only Alphabets*
                      </div>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Father Name</mat-label>
                      <input matInput formControlName="father_name" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('father_name').invalid &&
                        addGroup.get('father_name').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('father_name').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('father_name').hasError('pattern')"
                      >
                        Accepts Only Alphabets*
                      </div>
                    </mat-error>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Mother Name</mat-label>
                      <input matInput formControlName="mother_name" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('mother_name').invalid &&
                        addGroup.get('mother_name').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('mother_name').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('mother_name').hasError('pattern')"
                      >
                        Accepts Only Alphabets*
                      </div>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>D.O.B</mat-label>
                      <input matInput formControlName="dob" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('dob').invalid &&
                        addGroup.get('dob').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('dob').hasError('required')"
                      >
                        This field is required*
                      </div>
                    </mat-error>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Employee ID</mat-label>
                      <input matInput formControlName="empid" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('empid').invalid &&
                        addGroup.get('empid').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('empid').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('empid').hasError('pattern')"
                      >
                        Accepts Only Numbers*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('empid').hasError('maxlength')"
                      >
                        Exceeds Length*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('empid').hasError('minlength')"
                      >
                        Must be atleast 7 digits*
                      </div>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Email ID</mat-label>
                      <input matInput formControlName="email" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('email').invalid &&
                        addGroup.get('email').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('email').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('email').hasError('pattern')"
                      >
                        Invalid email format*
                      </div>
                    </mat-error>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Password</mat-label>
                      <input matInput formControlName="password" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('password').invalid &&
                        addGroup.get('password').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('password').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('password').hasError('minlength')"
                      >
                        Must contain atleast 8 characters*
                      </div>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>HR Assigned To</mat-label>
                      <input matInput formControlName="hr_name" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('hr_name').invalid &&
                        addGroup.get('hr_name').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('hr_name').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('hr_name').hasError('pattern')"
                      >
                        Accepts Only Alphabets*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('hr_name').hasError('minlength')"
                      >
                        Must contain atleast 8 characters*
                      </div>
                    </mat-error>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>HR Mail ID</mat-label>
                      <input matInput formControlName="hr_email" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('hr_email').invalid &&
                        addGroup.get('hr_email').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('hr_email').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('hr_email').hasError('pattern')"
                      >
                        Invalid email format*
                      </div>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Role</mat-label>
                      <input matInput formControlName="des" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('des').invalid &&
                        addGroup.get('des').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('des').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('des').hasError('maxlength')"
                      >
                        Exceeds Length*
                      </div>
                    </mat-error>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Domain</mat-label>
                      <input matInput formControlName="domain" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('domain').invalid &&
                        addGroup.get('domain').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('domain').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('domain').hasError('pattern')"
                      >
                        Accepts Only Alphabets*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('empid').hasError('maxlength')"
                      >
                        Exceeds Length*
                      </div>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Location</mat-label>
                      <input matInput formControlName="location" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('location').invalid &&
                        addGroup.get('location').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('location').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('location').hasError('pattern')"
                      >
                        Accepts Only Alphabets*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('location').hasError('maxlength')"
                      >
                        Exceeds Length*
                      </div>
                    </mat-error>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Country</mat-label>
                      <input matInput formControlName="country" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('country').invalid &&
                        addGroup.get('country').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('country').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('country').hasError('pattern')"
                      >
                        Accepts Only Alphabets*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('country').hasError('maxlength')"
                      >
                        Exceeds Length*
                      </div>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Class</mat-label>
                      <input matInput formControlName="class" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('class').invalid &&
                        addGroup.get('class').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('class').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('class').hasError('maxlength')"
                      >
                        Exceeds Length*
                      </div>
                    </mat-error>
                  </div>
                  <div class="col-4">
                    <mat-form-field appearance="outline" class="fields">
                      <mat-label>Salary</mat-label>
                      <input matInput formControlName="salary" required />
                    </mat-form-field>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('salary').invalid &&
                        addGroup.get('salary').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('salary').hasError('required')"
                      >
                        This field is required*
                      </div>
                      <div
                        class=""
                        *ngIf="addGroup.get('salary').hasError('pattern')"
                      >
                        Accepts Only Numbers*
                      </div>
                    </mat-error>
                  </div>
                  <div class="col-4">
                    <mat-label class="mx-3">STATUS:</mat-label>
                    <br />
                    <mat-radio-group formControlName="status" required>
                      <mat-radio-button class="mx-3" [value]="'Active'"
                        >ACTIVE</mat-radio-button
                      >
                      <mat-radio-button [value]="'Not Active'"
                        >NOT ACTIVE</mat-radio-button
                      >
                    </mat-radio-group>
                    <mat-error
                      class=""
                      *ngIf="
                        addGroup.get('status').invalid &&
                        addGroup.get('status').touched
                      "
                    >
                      <div
                        class=""
                        *ngIf="addGroup.get('status').hasError('checked')"
                      >
                        This field is required*
                      </div>
                    </mat-error>
                  </div>
                  <!-- <div class="col-4">
                  <mat-form-field appearance="outline" class="fields">
                    <mat-label>Status</mat-label>
                    <input matInput formControlName="status" required />
                  </mat-form-field>
                </div> -->
                </div>
                <!-- <div class="row">
                <div class="col">
                  <mat-label>STATUS:</mat-label>
                  <mat-radio-group formControlName="status">
                    <mat-radio-button [value]="'Active'"
                      >ACTIVE</mat-radio-button
                    >
                    <mat-radio-button [value]="'Not Active'"
                      >NOT ACTIVE</mat-radio-button
                    >
                  </mat-radio-group>
                </div>
              </div> -->
              </div>
            </div>

            <!--  -->
            <div class="row mt-1 pb-5 bframe">
              <h2 class="mt-3 mx-4">ADDRESS DETAILS</h2>
              <hr />
              <div class="container mt-3 px-5">
                <h3>CURRENT ADDRESS</h3>
                <hr />
                <div class="container mt-3 px-3">
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field appearance="outline" class="fields">
                        <mat-label>Address Line1</mat-label>
                        <input matInput formControlName="aline1" required />
                      </mat-form-field>
                      <mat-error
                        class=""
                        *ngIf="
                          addGroup.get('aline1').invalid &&
                          addGroup.get('aline1').touched
                        "
                      >
                        <div
                          class=""
                          *ngIf="addGroup.get('aline1').hasError('required')"
                        >
                          This field is required*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('aline1').hasError('maxlength')"
                        >
                          Exceeds Length*
                        </div>
                      </mat-error>
                    </div>
                    <div class="col-6">
                      <mat-form-field appearance="outline" class="fields">
                        <mat-label>Address Line2</mat-label>
                        <input matInput formControlName="aline2" required />
                      </mat-form-field>
                      <mat-error
                        class=""
                        *ngIf="
                          addGroup.get('aline2').invalid &&
                          addGroup.get('aline2').touched
                        "
                      >
                        <div
                          class=""
                          *ngIf="addGroup.get('aline2').hasError('required')"
                        >
                          This field is required*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('aline2').hasError('maxlength')"
                        >
                          Exceeds Length*
                        </div>
                      </mat-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="fields">
                        <mat-label>Pincode</mat-label>
                        <input matInput formControlName="apincode" required />
                      </mat-form-field>
                      <mat-error
                        class=""
                        *ngIf="
                          addGroup.get('apincode').invalid &&
                          addGroup.get('apincode').touched
                        "
                      >
                        <div
                          class=""
                          *ngIf="addGroup.get('apincode').hasError('required')"
                        >
                          This field is required*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('apincode').hasError('pattern')"
                        >
                          Accepts Only Numbers*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('apincode').hasError('maxlength')"
                        >
                          Exceeds Length*
                        </div>
                      </mat-error>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="fields">
                        <mat-label>State</mat-label>
                        <input matInput formControlName="astate" required />
                      </mat-form-field>
                      <mat-error
                        class=""
                        *ngIf="
                          addGroup.get('astate').invalid &&
                          addGroup.get('astate').touched
                        "
                      >
                        <div
                          class=""
                          *ngIf="addGroup.get('astate').hasError('required')"
                        >
                          This field is required*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('astate').hasError('pattern')"
                        >
                          Accepts Only Alphabets*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('astate').hasError('maxlength')"
                        >
                          Exceeds Length*
                        </div>
                      </mat-error>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="fields">
                        <mat-label>Country</mat-label>
                        <input matInput formControlName="acountry" required />
                      </mat-form-field>
                      <mat-error
                        class=""
                        *ngIf="
                          addGroup.get('acountry').invalid &&
                          addGroup.get('acountry').touched
                        "
                      >
                        <div
                          class=""
                          *ngIf="addGroup.get('acountry').hasError('required')"
                        >
                          This field is required*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('acountry').hasError('pattern')"
                        >
                          Accepts Only Alphabets*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('acountry').hasError('maxlength')"
                        >
                          Exceeds Length*
                        </div>
                      </mat-error>
                    </div>
                  </div>
                </div>

                <!--  -->
                <h3>PRIMARY ADDRESS</h3>
                <hr />
                <span class="example-list-section">
                  <mat-checkbox
                    class="example-margin"
                    [color]="color"
                    (change)="setAdd()"
                    [checked]="checked"
                  >
                    Primary Address same as Current Address
                  </mat-checkbox>
                </span>
                <br />
                <div class="container mt-3 px-3">
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field appearance="outline" class="fields">
                        <mat-label>Address Line1</mat-label>
                        <input
                          matInput
                          formControlName="pline1"
                          required
                          [(ngModel)]="addline1"
                        />
                      </mat-form-field>
                      <mat-error
                        class=""
                        *ngIf="
                          addGroup.get('pline1').invalid &&
                          addGroup.get('pline1').touched
                        "
                      >
                        <div
                          class=""
                          *ngIf="addGroup.get('pline1').hasError('required')"
                        >
                          This field is required*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('pline1').hasError('maxlength')"
                        >
                          Exceeds Length*
                        </div>
                      </mat-error>
                    </div>
                    <div class="col-6">
                      <mat-form-field appearance="outline" class="fields">
                        <mat-label>Address Line2</mat-label>
                        <input
                          matInput
                          formControlName="pline2"
                          required
                          [(ngModel)]="addline2"
                        />
                      </mat-form-field>
                      <mat-error
                        class=""
                        *ngIf="
                          addGroup.get('pline2').invalid &&
                          (addGroup.get('pline2').dirty ||
                            addGroup.get('pline2').touched)
                        "
                      >
                        <div
                          class=""
                          *ngIf="addGroup.get('pline2').hasError('required')"
                        >
                          This field is required*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('pline2').hasError('maxlength')"
                        >
                          Exceeds Length*
                        </div>
                      </mat-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="fields">
                        <mat-label>Pincode</mat-label>
                        <input
                          matInput
                          formControlName="ppincode"
                          required
                          [(ngModel)]="addpincode"
                        />
                      </mat-form-field>
                      <mat-error
                        class=""
                        *ngIf="
                          addGroup.get('ppincode').invalid &&
                          (addGroup.get('ppincode').dirty ||
                            addGroup.get('ppincode').touched)
                        "
                      >
                        <div
                          class=""
                          *ngIf="addGroup.get('ppincode').hasError('required')"
                        >
                          This field is required*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('ppincode').hasError('pattern')"
                        >
                          Accepts Only Numbers*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('ppincode').hasError('maxlength')"
                        >
                          Exceeds Length*
                        </div>
                      </mat-error>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="fields">
                        <mat-label>State</mat-label>
                        <input
                          matInput
                          formControlName="pstate"
                          required
                          [(ngModel)]="addstate"
                        />
                      </mat-form-field>
                      <mat-error
                        class=""
                        *ngIf="
                          addGroup.get('pstate').invalid &&
                          (addGroup.get('pstate').dirty ||
                            addGroup.get('pstate').touched)
                        "
                      >
                        <div
                          class=""
                          *ngIf="addGroup.get('pstate').hasError('required')"
                        >
                          This field is required*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('pstate').hasError('pattern')"
                        >
                          Accepts Only Alphabets*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('pstate').hasError('maxlength')"
                        >
                          Exceeds Length*
                        </div>
                      </mat-error>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" class="fields">
                        <mat-label>Country</mat-label>
                        <input
                          matInput
                          formControlName="pcountry"
                          required
                          [(ngModel)]="addcountry"
                        />
                      </mat-form-field>
                      <mat-error
                        class=""
                        *ngIf="
                          addGroup.get('pcountry').invalid &&
                          (addGroup.get('pcountry').dirty ||
                            addGroup.get('pcountry').touched)
                        "
                      >
                        <div
                          class=""
                          *ngIf="addGroup.get('pcountry').hasError('required')"
                        >
                          This field is required*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('pcountry').hasError('pattern')"
                        >
                          Accepts Only Alphabets*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('pcountry').hasError('maxlength')"
                        >
                          Exceeds Length*
                        </div>
                      </mat-error>
                    </div>
                  </div>
                </div>

                <!--  -->
                <h3>CONTACT DETAILS</h3>
                <hr />
                <div class="conatiner mt-3 px-3">
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field appearance="outline" class="fields">
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="phone" required />
                      </mat-form-field>
                      <mat-error
                        class=""
                        *ngIf="
                          addGroup.get('phone').invalid &&
                          (addGroup.get('phone').dirty ||
                            addGroup.get('phone').touched)
                        "
                      >
                        <div
                          class=""
                          *ngIf="addGroup.get('phone').hasError('required')"
                        >
                          This field is required*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('phone').hasError('pattern')"
                        >
                          Accepts Only Numbers*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('phone').hasError('maxlength')"
                        >
                          Exceeds Length*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('phone').hasError('minlength')"
                        >
                          Must contain atleast 10 digits*
                        </div>
                      </mat-error>
                    </div>
                    <div class="col-6">
                      <mat-form-field appearance="outline" class="fields">
                        <mat-label>Alternate Number</mat-label>
                        <input matInput formControlName="altphone" required />
                      </mat-form-field>
                      <mat-error
                        class=""
                        *ngIf="
                          addGroup.get('altphone').invalid &&
                          (addGroup.get('altphone').dirty ||
                            addGroup.get('altphone').touched)
                        "
                      >
                        <div
                          class=""
                          *ngIf="addGroup.get('altphone').hasError('required')"
                        >
                          This field is required*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('altphone').hasError('pattern')"
                        >
                          Accepts Only Numbers*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('altphone').hasError('maxlength')"
                        >
                          Exceeds Length*
                        </div>
                        <div
                          class=""
                          *ngIf="addGroup.get('altphone').hasError('minlength')"
                        >
                          Must contain atleast 10 digits*
                        </div>
                      </mat-error>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <mat-error *ngIf="!addGroup.valid && this.isvalid">
            <div class="container my-1">
              Fields must be filled to submit successfully
            </div>
          </mat-error>

          <mat-error *ngIf="this.iserr">
            <div class="container my-1">{{ this.errmessage }}</div>
          </mat-error>

          <div class="conatiner mt-5 d-flex justify-content-end">
            <button type="submit" class="submit-btn" mat-raised-button>
              Save
            </button>
            <button
              type="reset"
              class="reset-btn"
              (click)="resetit()"
              mat-raised-button
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
    <div class="mb-5">
      <form [formGroup]="addGroup">
        <div class="row mb-3">
          <div class="col-4">
            <label class="form-label">First Name</label>
            <input class="form-control" formControlName="fname" required />
          </div>
          <div class="col-4">
            <label class="form-label">Second Name</label>
            <input class="form-control" formControlName="mname" required />
          </div>
          <div class="col-4">
            <label class="form-label">Last Name</label>
            <input class="form-control" formControlName="lname" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <label class="form-label">Father Name</label>
            <input
              class="form-control"
              formControlName="father_name"
              required
            />
          </div>
          <div class="col-6">
            <label class="form-label">Mother Name</label>
            <input
              class="form-control"
              formControlName="mother_name"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <label class="form-label">D.O.B</label>
            <input class="form-control" formControlName="dob" required />
          </div>
          <div class="col-6">
            <label class="form-label">Employee ID</label>
            <input class="form-control" formControlName="empid" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <label class="form-label">Email Address</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              required
            />
          </div>
          <div class="col-6">
            <label class="form-label">Create Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <label class="form-label">HR Assigned To</label>
            <input class="form-control" formControlName="hr_name" required />
          </div>
          <div class="col-6">
            <label class="form-label">HR Email Address</label>
            <input class="form-control" formControlName="hr_email" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <label class="form-label">Role</label>
            <input class="form-control" formControlName="des" required />
          </div>
          <div class="col-6">
            <label class="form-label">Domain</label>
            <input class="form-control" formControlName="domain" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <label class="form-label">Location</label>
            <input class="form-control" formControlName="location" required />
          </div>
          <div class="col-6">
            <label class="form-label">Country</label>
            <input class="form-control" formControlName="country" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <label class="form-label">Address Line1</label>
            <input class="form-control" formControlName="aline1" required />
          </div>
          <div class="col-6">
            <label class="form-label">Address Line2</label>
            <input class="form-control" formControlName="aline2" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="form-label">Pincode</label>
            <input class="form-control" formControlName="apincode" required />
          </div>
          <div class="col-4">
            <label class="form-label">State</label>
            <input class="form-control" formControlName="astate" required />
          </div>
          <div class="col-4">
            <label class="form-label">Country</label>
            <input class="form-control" formControlName="acountry" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <label class="form-label">Address Line1</label>
            <input class="form-control" formControlName="pline1" required />
          </div>
          <div class="col-6">
            <label class="form-label">Address Line2</label>
            <input class="form-control" formControlName="pline2" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="form-label">Pincode</label>
            <input class="form-control" formControlName="ppincode" required />
          </div>
          <div class="col-4">
            <label class="form-label">State</label>
            <input class="form-control" formControlName="pstate" required />
          </div>
          <div class="col-4">
            <label class="form-label">Country</label>
            <input class="form-control" formControlName="pcountry" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <label class="form-label">Phone Number</label>
            <input class="form-control" formControlName="phone" required />
          </div>
          <div class="col-6">
            <label class="form-label">Alternate Number</label>
            <input class="form-control" formControlName="altphone" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="form-label">Class</label>
            <input class="form-control" formControlName="class" required />
          </div>
          <div class="col-4">
            <label class="form-label">Salary</label>
            <input class="form-control" formControlName="salary" required />
          </div>
          <div class="col-4">
            <label class="form-label">Status</label>
            <input class="form-control" formControlName="status" required />
          </div>
        </div>
      </form>
    </div>
  </div> -->
